{% extends 'global/base.html' %}
{% block messages %}{% endblock messages %}
{% block content %}
<div class="dashboard">
    {% if user.is_candidate %}
        {% include 'account/dashboard/candidate/sidebar_candidate.html' %}
    {% elif user.is_company %}
        {% include 'account/dashboard/company/sidebar_company.html' %}
    {% endif %}
    <div class="dashboard-content">
        {% include 'global/partials/_messages.html' %}
        {% block content_dashboard %}
        {% endblock content_dashboard %}
    </div>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}