[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
ipdb = "*"
pillow = "*"
djangorestframework = "*"
django-filter = "*"
django-cleanup = "*"
django-resized = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]
isort = "*"
blue = "*"
rich = "*"
django-debug-toolbar = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-django = "*"
model-bakery = "*"
ipython = "*"
django-extensions = "*"
mixer = "*"

[requires]
python_version = "3.11"
