{% extends 'global/base.html' %}
{% load static %}

{% block head %}
<script src="{% static 'js/auth.js' %}" defer></script>
{% endblock head %}
{% block content %}
<section class="auth-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 auth-container">
                <div class="form-header">
                    <h2 class="text-center">JobFinder</h2>
                </div>
                <div class="form-body">
                    <div class="form-body-top justify-content-center">
                        <h3>Alteração de senha</h3>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger mt-10" role="alert">
                            {% for error in form.non_field_errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% endif %}
                        <div class="input-group-icon mt-10">
                            <div class="icon">
                                <i
                                    class="ti-lock"
                                    aria-hidden="true"
                                ></i>
                            </div>
                            <input
                                type="password"
                                name="new_password1"
                                placeholder="nova senha"
                                onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'nova senha'"
                                required=""
                                value="{{ form.new_password1.value|default:'' }}"
                                class="single-input form-control"
                            />
                            <div class="icon-right">
                                <i
                                    class="fa fa-eye icon-eye"
                                    aria-hidden="true"
                                ></i>
                            </div>
                        </div>
                        {% if form.new_password1.errors %}
                            <div class="alert alert-danger mt-10" role="alert">
                            {% for error in form.new_password1.errors %}
                                {{ error }}
                            {% endfor %}
                            </div>
                        {% endif %}
                        <div class="input-group-icon mt-10">
                            <div class="icon">
                                <i
                                    class="ti-lock"
                                    aria-hidden="true"
                                ></i>
                            </div>
                            <input
                                type="password"
                                name="new_password2"
                                placeholder="confirmação da senha"
                                onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'confirmação da senha'"
                                required=""
                                value="{{ form.new_password2.value|default:'' }}"
                                class="single-input form-control"
                            />
                            <div class="icon-right">
                                <i
                                    class="fa fa-eye icon-eye"
                                    aria-hidden="true"
                                ></i>
                            </div>
                        </div>
                        {% if form.new_password2.errors %}
                            <div class="alert alert-danger mt-10" role="alert">
                            {% for error in form.new_password2.errors %}
                                {{ error }}
                            {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group mt-70 text-center">
                            <button
                                type="submit"
                                class="btn btn-post genric-btn circle e-large"
                            >
                                Alterar senha
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}