{% extends 'global/base.html' %}
{% block content %}
<div class="container" style="margin-top: 250px; margin-bottom: 250px">
	<div class="row justify-content-between">
		<div class="col-md-4 col-10 offset-1 mt-50">
			<a href="{% url 'account:candidate_signup' %}" class="default-link">
				<div class="register-div">
					<span>Crie uma conta como candidato</span>
					<div class="d-flex align-items-center">
						<i class="fas fa-arrow-right"></i>
					</div>
				</div>
				<hr style="border: 1px solid black;">
			</a>
		</div>
		<div class="col-md-4 col-10 offset-1 mt-50">
			<a href="{% url 'account:company_signup' %}" class="default-link">
				<div class="register-div">
					<span>Crie uma conta como empresa</span>
					<div class="d-flex align-items-center">
						<i class="fas fa-arrow-right"></i>
					</div>
				</div>
				<hr style="border: 0.5px solid black;">
			</a>
		</div>
	</div>
</div>
{% endblock content %}
