<aside class="sidebar">
    <nav class="sidebar-menu">
        <ul>
            <li>
                <a href="{% url 'account:dashboard' %}">
                    <i class="fas fa-home fa-fw"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'account:profile_candidate_update' %}">
                    <i class="fas fa-user fa-fw"></i>
                    <span class="nav-item">Perfil</span>
                </a>
            </li>
            <li>
                <a href="subscription_manage.html">
                    <i class="fas fa-file-alt fa-fw"></i>
                    <span class="nav-item">Inscrições</span>
                </a>
            </li>
        </ul>
        <!-- Sidebar bottom options -->
        <ul>
            <li>
                <a href="{% url 'account:settings' %}">
                    <i class="fas fa-cog fa-fw"></i>
                    <span class="nav-item">Configurações</span>
                </a>
            </li>
            <li>
                <a href="{% url 'account:logout' %}">
                    <i class="fas fa-power-off fa-fw"></i>
                    <span class="nav-item">Sair</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>