<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de conta</title>
</head>
<body>
    <h1>Olá</h1>
    <p>Recebemos uma solicitação para redefinir a senha da sua conta para este endereço de e-mail. Para iniciar o processo de redefinição de senha da sua conta, clique no link abaixo.</p>
    <a href="{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}</a>
    <p>Este link só pode ser usado uma vez. Se você precisar redefinir sua senha novamente, visite <a href="{{ protocol }}://{{domain}}{% url 'account:recovery' %}">{{ protocol }}://{{domain}}{% url 'account:recovery' %}</a> e solicite outra reinicialização.</p>
    <p>Se você não fez essa solicitação, basta ignorar este e-mail.</p>
    <p>Sinceramente,</p>
    <p>A equipe do JobFinder.</p>
</body>
</html>