{% extends 'global/base.html' %}
{% block title %}Erro 404: Página não encontrada{% endblock title %}
{% block content %}
<div class="container h-100 pt-100 pb-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-8 text-center">
            <h1 class="font-weight-bold">Erro 404: Página não encontrada</h1>
            <p class="h5">A página que você está procurando não existe.</p>
            <p class="h5">Por favor, verifique se você digitou corretamente o endereço da página.</p>
            <p class="h5">Se o problema persistir, entre em contato com o administrador do site.</p>
        </div>
    </div>
</div>
{% endblock content %}