{% extends 'account/dashboard/base.html' %}
{% load static %}
{% block head %}
<link href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="{% static 'js/bootstrap-table.min.js' %}" defer></script>
<script src="{% static 'js/bootstrap-table-pt-BR.js' %}" defer></script>
<script src="{% static 'js/jquery.mask.min.js' %}" defer></script>
<script src="{% static 'js/address_manage.js' %}" defer></script>
{% endblock head %}
{% block content_dashboard %}
<section class="section-content job-manager-section">
    <div>
        <div id="toolbar">
            <button
                class="genric-btn btn-success"
                onclick="show_form_add_address()"
            >
                <i class="fas fa-plus"></i>Criar endereço
            </button>
        </div>
        <table
            id="table"
            description="address list"
            data-toolbar="#toolbar"
            data-toggle="table"
            data-locale="pt-BR"
            data-search="true"
            data-side-pagination="client"
            data-search-accent-neutralise="true"
            data-sort-name="main"
            data-sort-order="asc"
            data-id-field="id"
            data-url="{% url 'address:api_list' %}"
        >
        <caption>Lista de endereços</caption>
            <thead>
                <tr>
                    <th data-field="title" data-sortable="true">
                        Título
                    </th>
                    <th
                        data-field="address"
                        data-formatter="addressFormatter"
                        data-sortable="true"
                    >
                        Endereço
                    </th>
                    <th
                        data-field="edit"
                        data-formatter="editFormatter"
                        data-events="operateEvents"
                        data-align="center"
                    >
                        Editar
                    </th>
                    <th
                        data-field="close"
                        data-events="operateEvents"
                        data-formatter="closeFormatter"
                        data-align="center"
                    >
                        Deletar
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- Modal Form Address Start -->
    <div
        class="modal fade"
        id="modal_form_address"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLongTitle"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        Cadastro Endereço
                    </h5>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Fechar"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form
                        action="#"
                        data-method="POST"
                        id="form_address"
                    >
                    {% csrf_token %}
                    {% include 'address/forms/create_address.html' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Form Address End -->
    <!-- Modal Delete Start -->
    <div class="modal" id="modal_delete" tabindex="-1" role="dialog" data-csrf="{{ csrf_token }}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Deletar endereço</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
            </div>
            <div class="modal-footer">
              <button type="button" id="btn_delete_address" class="btn-genric btn-danger" data-dismiss="modal">Deletar</button>
            </div>
          </div>
        </div>
    </div>
    <!-- Modal Delete End -->
</section>
{% endblock content_dashboard %}
