{% extends 'global/base.html' %}
{% load static %}
{% block content %}
<div class="company-content pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Left Content -->
            <div class="col-12">
                <!-- job single -->
                <div class="company-details mb-50">
                    <div class="company-items">
                        <div class="row company-details">
                            <div class="company-img-socials">
                                <div class="company-img-details">
                                    <img
                                        src="{% if company.logo %}{{ company.logo.url }}{% else %}{% static 'img/logo/logo_default.png' %}{% endif %}"
                                        alt=""
                                    />
                                </div>
                                <div class="company-socials">
                                    {% if company.facebook %}
                                    <a href="{{ company.facebook }}"
                                        ><i
                                            class="fab fa-facebook-f fa-fw"
                                        ></i
                                    ></a>
                                    {% endif %}
                                    {% if company.instagram %}
                                    <a href="{{ company.instagram }}"
                                        ><i
                                            class="fab fa-instagram fa-fw"
                                        ></i
                                    ></a>
                                    {% endif %}
                                    {% if company.twitter %}
                                    <a href="{{ company.twitter }}"
                                        ><i
                                        class="fab fa-twitter fa-fw"
                                        ></i
                                    ></a>
                                    {% endif %}
                                    {% if company.website %}
                                    <a href="{{ company.website }}"
                                        ><i
                                            class="fas fa-globe fa-fw"
                                        ></i
                                    ></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="company-title">
                                <h4>{{ company.user.first_name }}</h4>
                                <ul>
                                    <li>{{ company.short_description }}</li>
                                    <li>
                                        <i
                                            class="fas fa-map-marker-alt"
                                        ></i
                                        >Rio de Janeiro - RJ
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mt-10">
                            <p>
                                {{ company.description }}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- job single End -->
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="text-center col-12 mb-10">
                <h2>Vagas abertas</h2>
            </div>
        </div>
            <div class="row company-jobs">
                {% for job in jobs %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <a href="{{ job.get_absolute_url }}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    {{ job.title }}
                                </h5>
                                <p class="card-text">
                                    {{ job.description }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted"
                                    >{{ job.posted_at|timesince }} atrás</small
                                >
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}